*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}
.header{
    text-align: center;
    font-size: 50px;
    background-color:rgba(0,0,0,0.6);
    margin: 10px;
    position: relative;
    top: 50px;
    padding: 5px;
}
body{
    margin: 0;
    min-height: 100%;
    background-image:url(../images/FONDO8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container-fluid{
    margin: 10px;
    position: relative;
    top: 250px;  
}
.col{
    background-color:rgba(0,0,0,0.6); 
    margin: 10px;
     
}
.row{
    font-size: 22px;
    
}
.bold{
    text-align: center;
    font-weight: bold;
}
p{
    padding: 15px;
    padding-bottom: 0px;
}
ul{
    text-align: justify;
    list-style-type: circle;
    margin: 10px;
    padding: 10px;
    padding-top: 0px;
}

.container-fluid-box{
    margin: 10px;
    position: relative;
    top: 500px;  
}
.row-box{
    font-size: 22px;
    margin: 0px;
    padding: 0px;
}
.col-box{
    background-color:rgba(0,0,0,0.6); 
    margin: 0px;
}
.acces{
    text-align: center;
    padding: 5px;
    margin: 0px;
}
.display{
    display: inline-block;
    list-style: none;
    padding: 5px;
    padding-top: 0px;
}
.items-alaign{
    text-align: center;
    padding: 5px;
    margin: 5px;
}
a{
    padding: 0px;
    text-decoration: none;
    outline: none;
}
span{
    padding: 5px;
}